/* PAGE PROFIL */
.photo{
    background-image: url(../img/profil.png);
    background-size: cover;
    background-position: center;
}


/* PAGE LOGIN */
.login-bg, .register-bg{
    background-image: url(../img/login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* NAVBAR */
.nav-lien{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.nav-lien:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}

.card{
    height: 520px;
}
.flyer{
    height: 250px;
}
.logo-team{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
