/* PAGE PROFIL */
.photo{
    background-image: url(../img/profil.png);
    background-size: cover;
    background-position: center;
}


/* PAGE LOGIN */
.login-bg, .register-bg{
    background-image: url(../img/login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-bg .container, .register-bg .container{
    margin-top: 150px;
}

.nav-lien{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.nav-lien:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}

